body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.margin-top-10 {
    margin-top:10px;
}

p.logo_w3l_agile_caption {
    text-transform: uppercase;
    letter-spacing: 5.7px;
    font-size: 11px;
    color: #c79f07;
    text-shadow: 0px 1px 3px #454a47;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}


.navbar-custom {
    min-height: 70px !important;
}

.navbar-collapse-custom {

}
    .navbar-collapse-custom .nav.navbar-nav > li > a {
        line-height: 40px !important;
    }

.w3_navigation {
    background: #0f2453;
}
.w3_navigation > .navbar-custom >.navbar-collapse-custom a{
    
}
    .w3_navigation.navbar-inverse .navbar-nav > li > a {
        color: white !important;
    }
.navbar-brand {
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}